@charset "UTF-8";
			body{
/* 				background-image: url(https://bit.ly/2KhEw1d); */
				background-position-x: center;
				background-position-y: center;
				background-size: cover;
				background-repeat-x: no-repeat;
				background-repeat-y: no-repeat;
				background-attachment: fixed;
				background-origin: initial;
				background-clip: initial;
				background-color: initial;
			}
			.top-buffer-1 { margin-top:20px; }
			.top-buffer { margin-top:20px; }
			fieldset.scheduler-border {
				border: 1px groove #ddd !important;
				padding: 0 1.4em 1.4em 1.4em !important;
				margin: 0 0 1.5em 0 !important;
				-webkit-box-shadow:  0px 0px 0px 0px #000;
						box-shadow:  0px 0px 0px 0px #000;
			}

				legend.scheduler-border {
					font-size: 1.2em !important;
					font-weight: bold !important;
					text-align: left !important;
					width:auto;
					padding:0 1px;
					border-bottom:none;
				}
			.login-wrapper {
				width: 100%;
				height: 100%;
				position: absolute;
				display: table;
				z-index: 2;
			}
			.note
			{
				text-align: center;
				height: 80px;
				background: -webkit-linear-gradient(left, #ffffff, #ffffff);
				color: black;
				font-weight: bold;
				line-height: 80px;
				width: 800px;
				
			}
			.note p{ font-size:30px; }
			.form-content
			{
				width: 800px;
				padding: 5%;
				border: 1px #ced4da;
				margin-bottom: 2%;
			}
			.form-control{
				border-radius:1.5rem;
			}
			.bk{
				background-color: white;
			}
			
			.JoinImage {
			   position: static;
			    float: right;
				height: 170px;
				width: 170px;
				left: 100px;
				top: 0px;
				padding: 0px;
				margin: 80px 90px;
				text-align: center;
				
			  }
			  
			  .bttn {
			   display:inline;
			   position: absolute;
			   width: 70px;
			   font-size: 0.9em;
			   padding: 5px 5px 5px 5px;
			  }
			  
			  .bttn2 {
			  width:70px;
			  padding:5px 5px 5px 5px;
			  font-size: 0.9em;
			  font-weight: bold;
			  }
			  
		
			@media print {
				body * {
					visibility: visible;
				  }
				  #section-to-print, #section-to-print * {
					visibility: hidden;
				  }
				  #section-to-print {
					position: absolute;
					left: 0;
					top: 0;
				  }
			   .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
					float: left;
			   }
			   .col-sm-12 {
					width: 100%;
			   }
			   .col-sm-11 {
					width: 91.66666667%;
			   }
			   .col-sm-10 {
					width: 83.33333333%;
			   }
			   .col-sm-9 {
					width: 75%;
			   }
			   .col-sm-8 {
					width: 66.66666667%;
			   }
			   .col-sm-7 {
					width: 58.33333333%;
			   }
			   .col-sm-6 {
					width: 50%;
			   }
			   .col-sm-5 {
					width: 41.66666667%;
			   }
			   .col-sm-4 {
					width: 33.33333333%;
			   }
			   .col-sm-3 {
					width: 25%;
			   }
			   .col-sm-2 {
					width: 50%;
			   }
			   .col-sm-1 {
					width: 8.33333333%;
			   }
			   
			
		}